form {
    border: none;
    padding: 50px;
    height: 100%;
    width: 100%;
    }
    label {
        font-size: 1.2em;
        margin: 10px;
    }
    input {
        border-radius: 3px;
        padding: 10px;
    }
    .uppercase {
        text-transform: uppercase;
    }
    
    .message {
        margin-top: 10px;
        font-weight: bold;
        position: relative;
        left: -20px;
        padding: 0px;
        opacity: 0;
        transform: scale(0.95);
        transition: opacity 500ms ease-in-out;
    }
    
    .message.show {
        opacity: 1;
        animation: bounce 500ms ease-in-out;
    }
    
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: scale(0.95);
        }
        40% {
            transform: scale(1.1);
        }
        60% {
            transform: scale(1.05);
        }
    }
    .message.show {
        opacity: 1;
    }
    .accept {
        color: rgb(27, 115, 85);
    }
    
    .reject {
        color: rgb(195, 68, 0);
    }
    
    #submitButton {
        display: none;
        background-color: rgb(77, 81, 84);
        padding: 10px;
        margin-left: 20px;
        border-radius: 3px;
        color: aliceblue;
    }
    
    #submitButton.show {
        display: inline-block;
    }
    